@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Playfair+Display:ital@1&family=Sevillana&display=swap');

$bojaPozadine: green;
$slovaNav: 20px;
$font: 'Playfair Display', bold;
$var1: 300px;
$var2: 1150px;
